.contentBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}
/*info Bar*/
.imgSeparator{
    height: 200px;
}
.infoBar{
    background-color: #662e22;
    width: 100%;
    height: 100px;
    display: flex;
    border-radius: 2px;
    justify-content: center;
    align-items: flex-end;
}
/*button*/
.landingBtn{
    background-color: #662e22;
    border: solid 1px #243459;
    border-radius: 6px;
    padding: 4px 10px;
    margin-bottom: 10px;
}
.landingBtn a{
    color: #dadfea;
    text-decoration: none;
    height: 100%;
    width: 100%;
    font-family: Roboto, sans-serif;
}
/*content*/
.aboutBar{
    background-color: #662e22;
    width: 100%;
    display: flex;
    border-radius: 2px;
    flex-direction: column;
}
.infoCont{
    margin: 0 20px;
}
.infoHeader h2{
    color: #dadfea;
    font-family: Oswald, sans-serif;
    font-size: 36px;
    margin: 18px 0;
}
.infoPar p{
    color: #dadfea;
    font-family: Roboto, sans-serif;
    line-height: 33px;
    font-size: 23px;
}