.tabBar{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #3E606F;
    border: solid 1px #193441;
    height: 50px;
}
.linkBar{
    display: flex;
    width: 80%;
    justify-content: space-between;
    overflow: hidden;
}
.onSite{
    background-color: #91AA9D;
}
.linkTab{
    height: 100%;
    width: 20%;
    border-left: 1px solid #193441;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.linkTab:hover{
    height: 105%;
}
.linkTab a, .linkTab a:hover, .linkTab a:visited, .linkTab{
    color: #FCFFF5;
    text-decoration: none;
    font-family: OswaldLight, sans-serif;
    font-size: 26px;
}
.logo{
    height: 100%;
    width: 10%;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footerCol{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px 0;
    align-items: center;
}
.footElement{
    font-family: Roboto, sans-serif;
    font-size: 10px;
    margin: 0 10px;
}