//css links
@import "book.css";
@import "Content.css";
//@import "navBar.css";
@import "style.css";
//variables link
@import "variables";
//over all styling
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $white;
  .content{
    height: 100%;
    width: 100%;
  }
}
a {
  text-decoration: none;
}
//SASS links
@import "header";
@import "navigation";