//css links
@import "book.css";
@import "Content.css";
@import "navBar.css";
@import "style.css";
@import "variables";
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $white;
  .content{
    height: 100%;
    width: 100%;
    .centerElement{
      margin: 0 auto;
      width: 80%;
    }
  }
}
@import "header";