body{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #f1e0b2;
}
.content{
    height: 100%;
    width: 100%;
}
.centerElement{
    margin: 0 auto;
    width: 80%;
}
/*Header*/
.hBody{
    position: relative;
    border: solid black 1px;
    right: 0;
    left: 0;
}
.flex{
    display: flex;
}
/*Content Body*/
.contentBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}
.imgSeparator{
    height: 200px;
}
.infoBar{
    background-color: #34091b;
    width: 100%;
    height: 100px;
}
@media only screen and (max-width: 800) {
    
}
@media only screen and (max-width: 650) {

}