//font links
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-Light.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf')
}
@font-face {
  font-family: 'OswaldLight';
  src: url('../fonts/Oswald/Oswald-Light.ttf')
}
//color variables
$white: #FCFFF5;
$lightGreen: #D1DBBD;
$green: #91AA9D;
$blue: #3E606F;
$darkBlue: #193441;
//font variables
$headText: 'OswaldLight', sans-serif;
$bodyText: 'Roboto', sans-serif;
$bigText: 60px;
$mdText: 36px;
$smallText: 23px;
$tinyText: 10px;
$buttonText: 26px;
//mixin
@mixin center{
  margin: 0 auto;
  width: 80%;
}
@mixin flex($justify, $align){
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin font($color, $family, $size){
  color: $color;
  font-family: $family;
  font-size: $size;
  text-decoration: none;
}
@mixin size($height, $width){
  height: $height;
  width: $width;
}